node_modules
npm-debug.log
yarn-error.log
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local
.env
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.DS_Store
.git
.gitignore
README.md
docker-compose.yml
docker-compose.override.yml
Dockerfile
.dockerignore
.idea
.vscode
tests
storage/logs/*
storage/framework/cache/*
storage/framework/sessions/*
storage/framework/testing/*
storage/app/public/*
bootstrap/cache/config.php
bootstrap/cache/routes.php
bootstrap/cache/events.php
bootstrap/cache/metadata.php
bootstrap/cache/packages.php
bootstrap/cache/services.php
